{% extends "base.html" %}
{% block content %}
{% if error%}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
{{ error }}
</div>
{% endif %}

{% if session['username'] %}
{% else %}
<form action="/login" method="POST">
  Username: <input type="text" name="username" size="15" /><br />
  Password: <input type="password" name="password" size="15" /><br />
    <input class="btn btn-default" type="submit" value="Login" />
</form>
{% endif %}


{% endblock %}