{% extends "base.html" %}
{% block content %}
<h1>Livres:</h1>
<ul>
    <table class="table">
         <tr class="info">
            <th>ISBN</td>
            <th>titre</td>
            <th>auteur</td>
            <th>nombrePage</td>
            <th>prix</td>
            <th>categorie</td>
            <th>quantite</td>
            <th>datePublication</td>
        </tr>
    {% for livre in livres %}
        <tr>
            <td class="success">{{ livre[0] }}</td>
            <td class="success">{{ livre[1] }}</td>
            <td class="success">{{ livre[2] }}</td>
            <td class="success">{{ livre[3] }}</td>
            <td class="success">{{ livre[4] }} $</td>
            <td class="success">{{ livre[5] }}</td>
            <td class="success">{{ livre[6] }}</td>
            <td class="success">{{ livre[7] }}</td>

            <th>
                <form action ="livre/delete" method="POST">
                    <button type="submit" class="btn btn-warning">Remove</button>
                    <input type="hidden" name="ISBN" value="{{ livre[0] }}" />
                </form>
            </th>
            <th>
                <form action="/livres/{{ livre[0] }}" method="GET">
                    <button type="submit" class="btn btn-info">Modifier</button>
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
</ul>
<form action ="/livre" method="GET">
    <input class="btn btn-success" type="submit" value="Ajouter un livre" />
</form>
{% endblock %}
<!--
db.query('select * from users;')

r = db.use_result()

while True:
    record = r.fetch_row()
    if not record:
        break
    print record[0][0]

-->
