{% extends "base.html" %}
{% block content %}
<h1>Membres:</h1>
<ul>
    <table class="table">
        <tr class="info">
            <th>username</td>
            <th>password</td>
            <th>nom</td>
            <th>prenom</td>
            <th>courriel</td>
            <th>codePostal</td>
            <th>adresse</td>
            <th>permission</td>
            <th>solde</td>
        </tr>
    {% for user in users %}
        <tr>
            <td class="success">{{ user[0] }}</td>
            <td class="success">{{ user[1] }}</td>
            <td class="success">{{ user[2] }}</td>
            <td class="success">{{ user[3] }}</td>
            <td class="success">{{ user[4] }}</td>
            <td class="success">{{ user[5] }}</td>
            <td class="success">{{ user[6] }}</td>
            <td class="success">{{ user[7] }}</td>
            <td class="success">{{ user[8] }}$</td>
            <th>
                <form action ="membres/delete" method="POST">
                    <button type="submit" class="btn btn-warning">Remove</button>
                    <input type="hidden" name="username" value="{{ user[0] }}" />
                </form>
            </th>
            <th>
                <form action="/membres/{{ user[0] }}" method="GET">
                    <button type="submit" class="btn btn-info">Modifier</button>
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
</ul>
<form action ="/register" method="GET">
    <input class="btn btn-success" type="submit" value="Ajouter un membre" />
</form>
{% endblock %}
<!--
db.query('select * from users;')

r = db.use_result()

while True:
    record = r.fetch_row()
    if not record:
        break
    print record[0][0]

-->
