{% extends "base.html" %}
{% block content %}

<form class="form-horizontal" role="form" action ="/livre/ajout" method="POST">
       {% if session['permission'] == 'admin' %}
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Titre:</label>
    <div class="col-sm-10">
      <input name='titre' type="text" class="form-control" id="inputPassword" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputNom" class="col-sm-2 control-label">Auteur:</label>
    <div class="col-sm-10">
      <input name='auteur' type="text" class="form-control" id="inputNom" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPrenom" class="col-sm-2 control-label">Nombre de Pages:</label>
    <div class="col-sm-10">
      <input name='nombrePage' type="text" class="form-control" id="inputPrenom" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputCourriel" class="col-sm-2 control-label">Prix:</label>
    <div class="col-sm-10">
      <input name='prix' type="text" class="form-control" id="inputCourriel" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputCodePostal" class="col-sm-2 control-label">Categorie:</label>
    <div class="col-sm-10">
      <input name='categorie' type="text" class="form-control" id="inputCodePostal" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputAdresse" class="col-sm-2 control-label">Quantite en stock:</label>
    <div class="col-sm-10">
      <input name='quantite' type="text" class="form-control" id="inputAdresse" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPermission" class="col-sm-2 control-label">Date de Publication:</label>
    <div class="col-sm-10">
      <input name='datePublication' type="text" class="form-control" id="inputPermission" placeholder="Email">
    </div>
  </div>
   {% endif %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Ajouter le livre</button>
    </div>
  </div>
</form>
{% endblock %}