{% extends "base.html" %}
{% block content %}
<h1>Votre panier: </h1>
<ul>
    <table class="table">
        <tr class="info">
            <th>ISBN</th>
            <th>titre</th>
            <th>auteur</th>
            <th>nombrePage</th>
            <th>prix</th>
            <th>categorie</th>
            <th>quantite</th>
            <th>datePublication</th>

        </tr>
    {% for livre in listePanier %}
        <tr>
            <td class="success">{{ livre[0] }}</td>
            <td class="success">{{ livre[1] }}</td>
            <td class="success">{{ livre[2] }}</td>
            <td class="success">{{ livre[3] }}</td>
            <td class="success">{{ livre[4] }}</td>
            <td class="success">{{ livre[5] }}</td>
            <td class="success">{{ livre[6] }}</td>
            <td class="success">{{ livre[7] }}</td>

            <th>
                <form action ="/panier/delete" method="POST">
                    <input class="btn btn-warning" type="submit" name="remove" value="remove" />
                    <input type="hidden" name="ISBN" value="{{ livre[0] }}" />
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
    <h2>Total: {{ prixpanier  }}$ </h2>
          <form action ="/panier/achat" method="POST" onsubmit="return confirm('Etes-vous sur de votre choix ?');">
                  <input class="btn btn-success" type="submit" value="Acheter"/>
                </form>
</ul>

{% endblock %}