{% extends "base.html" %}
{% block content %}
<h1>Votre panier: </h1>
<ul>
    <table border="1">
        <tr>
            <td>ISBN</td>
            <td>titre</td>
            <td>auteur</td>
            <td>nombrePage</td>
            <td>prix</td>
            <td>categorie</td>
            <td>quantite</td>
            <td>datePublication</td>
        </tr>
    {% for livre in listePanier %}
        <tr>
            <td>{{ livre[0] }}</td>
            <td>{{ livre[1] }}</td>
            <td>{{ livre[2] }}</td>
            <td>{{ livre[3] }}</td>
            <td>{{ livre[4] }}</td>
            <td>{{ livre[5] }}</td>
            <td>{{ livre[6] }}</td>
            <td>{{ livre[7] }}</td>

            <td>
                <form action ="livres/panier/delete" method="POST">
                    <input type="submit" name="remove" value="remove" />
                    <input type="hidden" name="ISBN" value="{{ livre[0] }}" />
                </form>
            </td>

            <td><button>modifier</button></td>
        </tr>
    {% endfor %}
    </table>
</ul>

{% endblock %}