<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Registration</h1>
<form action ="register" method="POST">
    Username: <input type='text' name='username'><br>
    Password: <input type='text' name='password'><br>
    Nom: <input type='text' name='nom'><br>
    Prenom: <input type='text' name='prenom'><br>
    Courriel: <input type='text' name='courriel'><br>
    CodePostal: <input type='text' name='codePostal'><br>
    Adresse: <input type='text' name='adresse'><br>
    Permission: <input type='text' name='permission'><br>
    Dette: <input type='text' name='dette'><br>
    <input type="submit" value="register"/>
</form>
</body>
</html>